<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <p>Hello,</p>
    <p>Your password for the TruckTruckGo account: {{ email }} was changed on {{ time }}.</p>
    <p>If this was you, then you can safely ignore this email.</p>
    <p>
        If this wasn't you, then please
        <a href="https://truck-truck-go.vercel.app/reset-password" target="_blank">Reset Your Password</a>
    </p>
    <p>
        Need help?
        <a href="https://truck-truck-go.vercel.app/support" target="_blank">
            Contact Support
        </a>
    </p>
    <p>Thank you.</p>
</body>

</html>